<div class="container">
    <form class="border border-2 rounded m-3 p-4" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <p class="h1 pb-2" *ngIf="isAddMode">Criar</p>
            <p class="h1 pb-2 " *ngIf="!isAddMode">Editar</p>
        </div>
        <div class="row g-3">
            <div class="col-4">
                <div class="form-group mb-3">
                    <label for="form-control-input-name" class="mb-1">Nome Completo</label>
                    <input type="text" class="form-control" id="form-control-input-name" formControlName="fullName"
                        style="height: 50px;" maxlength="50"
                        [ngClass]="{'is-invalid': submitted && f['fullName'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['fullName'].errors">
                        <div *ngIf=" submitted && f['fullName'].errors['required']"> O nome é obrigatório</div>
                    </div>


                </div>
            </div>
            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-input-cpf" class="mb-1">CPF</label>
                    <input type="text" class="form-control" id="form-control-input-cpf" mask="000.000.000-00"
                        formControlName="cpf" style="height: 50px; "
                        [ngClass]="{'is-invalid': submitted && f['cpf'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['cpf'].errors">
                        <div *ngIf="submitted && f['cpf'].errors['required']"> O cpf é obrigatório</div>

                        <div *ngIf="submitted && f['cpf'].errors['minlength']">O cpf deve ter 11 caracteres</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-input-rg" class="mb-1">RG</label>
                    <input type="text" class="form-control" id="form-control-input-rg" formControlName="rg"
                        style="height: 50px " mask="00.000.000-00"
                        [ngClass]="{'is-invalid': submitted && f['rg'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['rg'].errors">
                        <div *ngIf="submitted && f['rg'].errors['required']">O RG é obrigatório</div>
                        <div *ngIf="submitted && f['rg'].errors['minlength']">O rg deve ter 10 caracteres</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-3">
                    <label for="form-control-input-email" class="mb-1">Email</label>
                    <input type="text" class="form-control" id="form-control-input-email" formControlName="email"
                        style="height: 50px " maxlength="30" placeholder="@ex.com"
                        [ngClass]="{'is-invalid': submitted && f['email'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
                        <div *ngIf="submitted && f['email'].errors['required']">O email é obrigatório</div>
                        <div *ngIf="submitted && f['email'].errors['email']">O valor digitado não é um E-mail</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label for="form-control-input-career" class="mb-1">Profissão</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="form-control-input-career" formControlName="career"
                        style="height: 50px" maxlength="20" [ngClass]="{'is-invalid':submitted && f['career'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['career'].errors">
                        <div *ngIf="submitted && f['career'].errors['required']">A profissão é obrigatória</div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-3">
                    <label for="form-control-input-phone" class="mb-1">Telefone</label>
                    <input type="text" class="form-control" id="form-control-input-phone" formControlName="phone"
                        style="height: 50px " mask="(00)00000-0000"
                        [ngClass]="{'is-invalid': submitted && f['phone'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['phone'].errors">
                        <div *ngIf="submitted && f['phone'].errors['required']">O Telefone é obrigatório</div>
                        <div *ngIf="submitted && f['phone'].errors['minlength']">O Telefone deve ter 11 caracteres</div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group mb-3">
                    <label for="form-control-input-cep" class="mb-1">CEP</label>
                    <input type="text" class="form-control" id="form-control-input-cep" (blur)="searchCep()"
                        formControlName="cep" style="height: 50px;" mask="00000-000"
                        [ngClass]="{'is-invalid' : submitted && f['cep'].errors,'invalid-cep': isValid}">

                    <div class="invalid-feedback" *ngIf="submitted && f['cep'].errors">
                        <div *ngIf="submitted && f['cep'].errors['required']">O cep é obrigatório</div>
                        <div *ngIf="submitted && f['cep'].errors['minlength']">O cep deve ter 8 caracteres</div>
                    </div>
                    <div class="text-danger" *ngIf="!isValid">
                        <div *ngIf="!isValid">O cep é Invalido</div>
                    </div>
                </div>
            </div>

            <div class="col-3">

                <div class="form-group mb-3">
                    <label for="form-control-input-city" class="mb-1">Cidade</label>
                    <input type="text" class="form-control" readonly="readonly"
                        id="form-control-input-city" formControlName="city" style="height:50px ">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group mb-3">
                    <label for="form-control-input-address" class="mb-1">Endereço</label>
                    <input type="text" class="form-control" readonly="readonly"
                        id="form-control-input-address" formControlName="address" style="height: 50px">

                </div>
            </div>

            <div class="col-1">
                <div class="form-group mb-3">
                    <label for="form-control-input-state" class="mb-1">Estado</label>
                    <input type="text" class="form-control" readonly="readonly"
                        id="form-control-input-state" formControlName="state" style="height: 50px ">

                </div>

            </div>
            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-input-district" class="mb-1">Bairro</label>
                    <input type="text" class="form-control" readonly="readonly"
                        id="form-control-input-district" formControlName="district" style="height: 50px">

                </div>
            </div>

            <div class="col-2">
                <div class="form-group mb-3">
                    <label for="form-select-service" class="form-label" class="mb-1">Serviços</label>
                    <select class="form-select" id="form-select-service" style="height: 50px" formControlName="service"
                        aria-label="Services" [ngClass]="{'is-invalid': submitted && f['service'].errors}">

                        <option selected value="1">Acupuntura</option>
                        <option value="2">Fisioterapia</option>
                        <option value="3">RPG</option>
                    </select>

                    <div class="invalid-feedback" *ngIf="submitted && f['service'].errors">

                        <div *ngIf="submitted && f['service'].errors['required']">Escolha uma das opções de Serviço
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group mb-3">
                    <label for="form-select-civilstatus" class="mb-1">Estado Civil</label>
                    <select class="form-select" id="form-select-civilstatus" formControlName="mCivil"
                        style="height: 50px;" aria-label="Civil Status"
                        [ngClass]="{'is-invalid':submitted && f['mCivil'].errors}">
                        <option selected value="1">Solteiro</option>
                        <option value="2">Casado</option>
                    </select>

                    <div class="invalid-feedback" *ngIf="submitted && f['mCivil'].errors">
                        <div *ngIf="submitted && f['mCivil'].errors['required']">Escolha seu estado civil atual </div>

                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-3">
                    <label for="form-select-healthI" class="mb-1">Plano de Saúde</label>
                    <select class="form-select" id="form-select-healthI" formControlName="healthI" style="height: 50px;"
                        aria-label="Health Insurances" [ngClass]="{'is-invalid': submitted && f['healthI'].errors}">
                        <option selected value="1">Bradesco</option>
                        <option value="2">Cassi</option>
                        <option value="3">Vitalmed</option>
                        <option value="4">Hapvida</option>
                        <option value="5">SulAmerica</option>
                        <option value="6">Unimed</option>

                    </select>

                    <div class="invalid-feedback" *ngIf="submitted && f['healthI'].errors">
                        <div *ngIf="submitted && f['healthI'].errors['required']">Escolha o seu plano de saúde atual
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-3">
                    <label for="form-select-gender" class="mb-1">Gênero</label>
                    <select class="form-select " id="form-select-gender" formControlName="gender" style="height: 50px;"
                        aria-label="Gender" [ngClass]="{'is-invalid': submitted && f['gender'].errors}">
                        <option selected value="1">Masculino</option>
                        <option value="2">Feminino</option>
                    </select>

                    <div class="invalid-feedback" *ngIf="submitted && f['gender'].errors">
                        <div *ngIf="submitted && f['gender'].errors['required']">Escolha um dos gêneros acima</div>
                    </div>
                </div>
            </div>



            <div class="col-6">
                <div class="form-group mb-3">
                    <label for="form-control-input-details" class="mb-1">Detalhes</label>
                    <input type="text" class="form-control " id="form-control-input-details" formControlName="details"
                        style="height: 100px;" maxlength="100"
                        [ngClass]="{'is-invalid': submitted && f['details'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['details'].errors">

                        <div *ngIf="submitted && f['details'].errors['required']">Os detalhes são obrigatórios</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mt-3">

            <div class="col-6">
                <button class="btn btn-outline-danger" style="width:50%;" routerLink='/client/dashboard'>
                    Cancelar
                </button>
            </div>
            <div class="col-6 ">
                <button [disabled]="loading" [disabled]="!clientForm.valid" class="btn btn-primary float-end"
                    style="width:50%"><span *ngIf="loading" class="spinner-border spinner-border-sm me-1">
                    </span>
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>