<body class="container">

    <form class="border border-2 rounded m-3 p-4" [formGroup]="clientForm">
        <div class="row">
            <p class="h1 py-3 ">Detalhes</p>
        </div>
        <div class="row g-3">
            <div class="col-4">
                <div class="form-group mb-3">
                    <label for="form-control-name" class=" mb-1">Nome</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-name"
                        formControlName="fullName" style="height: 50px " placeholder="Name">

                </div>
            </div>

            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-cpf" class=" mb-1">CPF</label>
                    <input type="text" class="form-control" mask="000.000.000-00" readonly="readonly"
                        id="form-control-cpf" formControlName="cpf" style="height:50px" placeholder="CPF">

                </div>
            </div>

            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-rg" class=" mb-1">RG</label>
                    <input type="text" class="form-control" mask="00.000.000-00" readonly="readonly"
                        id="form-control-rg" formControlName="rg" style="height: 50px" placeholder="RG">

                </div>
            </div>



            <div class="col-4">
                <div class="form-group mb-3">
                    <label for="form-control-email" class=" mb-1">Email</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-email"
                        formControlName="email" style="height:50px;" placeholder="Email">

                </div>
            </div>
            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-career" class=" mb-1">Profissão</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-career"
                        formControlName="career" style="height: 50px" placeholder="Career">

                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-3">
                    <label for="form-control-phone" class=" mb-1">Telefone</label>
                    <input type="tel" class="form-control" mask="(00)00000-0000" readonly="readonly"
                        id="form-control-phone" formControlName="phone" style="height:50px" placeholder="Phone">

                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-3 ">
                    <label class=" mb-1" for="form-control-cep">CEP</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-cep"
                        formControlName="cep" mask="00000-000" style="height: 50px " placeholder="CEP">

                </div>
            </div>
            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-city" class=" mb-1">Cidade</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-city"
                        formControlName="city" style="height: 50px " placeholder="City">

                </div>
            </div>

            <div class="col-4">
                <div class="form-group mb-3">
                    <label for="form-control-address" class=" mb-1">Endereço</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-address"
                        formControlName="address" style="height:50px" placeholder="Address">

                </div>
            </div>




            <div class="col-1">
                <div class="form-group mb-3">
                    <label for="form-control-state" class=" mb-1">Estado</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-state"
                        formControlName="state" style="height: 50px " placeholder="State">

                </div>
            </div>


            <div class="col-3">
                <div class="form-group mb-3">
                    <label for="form-control-district" class=" mb-1">Bairro</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-district"
                        formControlName="district" style="height: 50px " placeholder="District">

                </div>
            </div>



            <div class="col-2">
                <fieldset  class="form-group mb-3" disabled="disabled">
                    <label for="form-control-service" class=" mb-1">Service</label>
                    <select type="text" readonly="readonly" class="form-control" id="form-control-service"
                        style="height: 50px" formControlName="service" aria-label="Services">
                        <option value="1">Acupuntura</option>
                        <option value="2">Fisioterapia</option>
                        <option value="3">RPG</option>
                    </select>

                </fieldset>
            </div>





            <div class="col-2">

                <fieldset class="form-group mb-3" disabled="disabled">
                    <label for="form-control-civilstatus" class=" mb-1">Estado Civil</label>
                    <select type="text" class="form-control" formControlName="mCivil" id="form-control-civilstatus"
                        style="height: 50px" aria-label="Civil Status">
                        <option value="1">Solteiro</option>
                        <option value="2">Casado</option>
                    </select>

                </fieldset>
            </div>
            <div class="col-2">
                <fieldset class="form-group mb-3" disabled="disabled">
                    <label for="form-control-healthI" class=" mb-1">Plano de Saúde</label>
                    <select type="text" class="form-control" id="form-control-healthI" formControlName="healthI"
                        style="height: 50px">
                        <option value="1">Bradesco</option>
                        <option value="2">Cassi</option>
                        <option value="3">Vitalmed</option>
                        <option value="4">Hapvida</option>
                        <option value="5">SulAmerica</option>
                        <option value="6">Unimed</option>
                    </select>


                </fieldset>
            </div>
            <div class="col-2">
                <fieldset disabled="disabled" class="form-group mb-3">
                    <label for="form-control-gender" class=" mb-1">Gênero</label>
                    <select type="text" class="form-control" readonly="readonly" id="form-control-gender"
                        formControlName="gender" style="height: 50px" aria-label="Gender">
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                    </select>

                </fieldset>
            </div>



            <div class="col-6">
                <div class="form-group mb-3">
                    <label for="form-control-details" class=" mb-1">Detalhes</label>
                    <input type="text" class="form-control" readonly="readonly" id="form-control-input-details"
                        formControlName="details" style="height: 100px" placeholder="Details">

                </div>
            </div>

            <div class="col-12 ">

                <button class="btn btn-outline-danger float-end" style="width:25%;" routerLink="/client/dashboard">Cancelar</button>
            </div>

        </div>
    </form>

</body>